<aside class="sidebar">
  <nav class="navbar navbar-default" role="navigation">
    <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken%>" />
    <div class="sidebar-margin">
      <p class="title">Your Wish</p>

      <h4 class="sub-title">admin</h4>
    </div>
    <div class="white-h-line"></div>

    <ul class="nav flex-column sidebar-margin">
      <li class="nav-item">
        <a
          class="nav-link active sidebar-text"
          aria-current="page"
          href="/admin/app"
          >&#183; 카테고리 관리</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link active sidebar-text"
          aria-current="page"
          href="/admin/product/manage"
          >&#183; 상품 관리</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link sidebar-text" href="/admin/shipping"
          >&#183; 배송 관리</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link sidebar-text"
          href="/admin/user"
          tabindex="-1"
          aria-disabled="true"
          >&#183; 회원 관리</a
        >
      </li>
    </ul>
  </nav>
  <div style="bottom: 10px; position: absolute; width: 100%">
    <p class="nav-link sidebar-text"><%=user.nickname%>님 환영합니다.</p>
    <div style="text-align: end; width: 100%; padding: 10px">
      <a
        href="/admin/logout"
        style="
          text-align: end;
          margin: 10px;
          font-size: 15px;
          color: white;
          width: 100%;
        "
        ><i class="fas fa-door-open"></i>
      </a>
    </div>
  </div>
</aside>
