<aside class="sidebar">
  <nav class="navbar navbar-default" role="navigation">
    <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken%>" />
    <div class="sidebar-margin">
      <p class="title">Your Wish</p>

      <h4 class="sub-title">admin</h4>
    </div>
    <div class="white-h-line"></div>

    <ul class="nav flex-column sidebar-margin">
      <li class="nav-item">
        <a
          class="nav-link active sidebar-text"
          aria-current="page"
          href="/admin/app"
          >&#183; 카테고리 관리</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link active sidebar-text"
          aria-current="page"
          href="/admin/product/manage"
          >&#183; 상품 관리</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link sidebar-text" href="/admin/shipping"
          >&#183; 배송 관리</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link sidebar-text"
          href="/admin/user"
          tabindex="-1"
          aria-disabled="true"
          >&#183; 회원 관리</a
        >
      </li>
    </ul>
  </nav>
</aside>
