 

    <div class="wrapper">
            <nav class="navbar navbar-default" role="navigation">
                   
                <ul class="nav flex-column" >
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"  href="/admin/app">앱관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"  href="/admin/product/manage">상품관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/product/register">상품추가</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/shipping">배송관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/user" tabindex="-1" aria-disabled="true">회원관리</a>
                    </li>
                    </ul>
            
                  
                    
                    <!-- <ul class="nav navbar-nav">
                        <li><a href="/admin/product/manage">상품관리</a></li>
                        <li><a href="/admin/product/register">상품추가</a></li>
                        <li><a href="/admin/shipping">배송관리</a></li>
                        <li><a href="/admin/user">회원관리</a></li>
                    </ul> -->
            </nav>
        
         </div>
        

<!-- views/footer.ejs -->
 
<!-- <p class="text-center text-muted">© Copyright 2014 The Awesome People</p> -->