<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        .container{
            text-align: center;
            margin: 0 auto;
        }
    </style>
  </head>
  <body>
      <div class='container'>
    <p>보호된 페이지입니다. 비밀번호를 입력하세요.</p>   
    <input id="password" type="password">
    <button id="submit">제출</button> 
</div>
<script>
       (function(){     

        if(sessionStorage.getItem('login')==='true'){
         location.href=`https://gifty4u.com/admin/product/manage`;
        }
      })()

      
    $("#password").keydown(function (key) {
         if(key.keyCode == 13){//키가 13이면 실행 (엔터는 13)
            submit();
            }
    });

    $("#submit").click(function (key) {
            submit();
    });


    function submit(){
        fetch("https://gifty4u.com/admin/password", {
         method: "POST",
        headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                password: $('#password').val(),
            }),
            }).then((response) => response.json())
            .then((res)=>{
            if(res.data==='success'){
                sessionStorage.setItem('login','true');
                location.href=`https://gifty4u.com/admin/product/manage`;
            }else{
                alert("틀린 비밀번호입니다.")
            }
            }).catch((err)=>{
            alert(err.error)
            console.log(err.error)
            })
        }

</script>
  </body>
</html>
