<meta charset="UTF-8">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<link href="/stylesheets/fSelect.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/javascripts/fSelect.js"></script>
<style>


</style>
</head>
<body class="container">
  
    <div class="row">
        <div class="col-3">
          <%- include ('./nav.ejs') %>
        </div>
        <div class="col-9"  style="padding-top: 30px;">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">상품코드</span>
                <input id="product_code" type="text" class="form-control"aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
              <select id="category" class="form-select" aria-label="Default select example">
                <option selected>카테고리</option>
                <option value="화장품">화장품</option>
                <option value="식품">식품</option>
                <option value="건강">건강</option>
                <option value="리빙">리빙</option>
                <option value="패션잡화">패션잡화</option>
                <option value="디지털">디지털</option>
              </select>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">상품명</span>
                <input id="product_name" type="text" class="form-control" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">썸네일</span>
                <input id="thumbnail" type="text" class="form-control" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">이미지</span>
                <textarea id="image" class="form-control" rows="5" placeholder="쉼표(,)로 구분해주세요"></textarea>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">판매처</span>
                <input id="brand" type="text" class="form-control" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">소비자가</span>
                <input id="retail_price" type='number' class="form-control" aria-describedby="basic-addon1" placeholder=",를 떼고 숫자만 입력해주세요">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">수수료율</span>
                <input id="fee_rate"  type='number' class="form-control" aria-describedby="basic-addon1" placeholder=",를 떼고 숫자만 입력해주세요">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">링크</span>
                <input id="link" type="text" class="form-control" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">상품소개</span>
                <input id="title" class="form-control" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">상품정보제공고시</span>
                <textarea id="sub_title" class="form-control" rows="16"></textarea>
              </div>
              <div class="input-group mb-3  register">
                <select id="gender" class="form-select multiple" multiple="multiple">
                  <option value="남성">남성</option>
                  <option value="여성">여성</option>
                </select>
              </div>
              <div class="input-group mb-3 register">
                <select id="age" class="form-select multiple" multiple="multiple">
                      <option value="20~24세">20~24세</option>
                      <option value="25~29세">25~29세</option>
                      <option value="30~34세">30~34세</option>
                      <option value="35~39세">35~39세</option>
                      <option value="40~44세">40~44세</option>
                      <option value="45세 이상">45세 이상</option>
              
              </select>
              </div>
              <select id="price" class="form-select" aria-label="Default select example">
                <option selected>가격</option>
                <option value="1만 5천원">1만 5천원</option>
                <option value="2만원">2만원</option>
                <option value="2만 5천원">2만 5천원</option>
                <option value="3만원">3만원</option>
                <option value="3만 5천원">3만 5천원</option>
                <option value="4만원">4만원</option>
                <option value="4만 5천원">4만 5천원</option>
                <option value="5만원">5만원</option>
              </select>
              <br>
              <br>
              <button type="button" class="btn btn-primary" onclick="save()" style="width: 200px; height:50px; margin: 0 40%;">저장</button>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
          </div>
        </div>
        
      </div>
</body>
<script>
(function($) {
  $(function() {



      window.fs_test = $('#age').fSelect({
    placeholder: '연령',
    numDisplayed: 3,
    overflowText: '{n} selected',
    noResultsText: 'No results found',
    searchText: 'Search',
    showSearch: false
});

window.fs_test = $('#gender').fSelect({
    placeholder: '성별',
    numDisplayed: 3,
    overflowText: '{n} selected',
    noResultsText: 'No results found',
    searchText: 'Search',
    showSearch: false
});
  });
})(jQuery);


function save(){
  let images = $('#image').val().split(",");
  let ages= $('#age option:selected').map(function(){
    return this.value;
  }).get();
  let genders= $('#gender option:selected').map(function(){
    return this.value;
  }).get();
  if($('#product_code').val()===""){alert("상품코드는 필수입력입니다.")}
  else if(genders.length<1){alert("성별을 선택해주세요.")}
  else if(ages.length<1){alert("연령대를 하나이상 선택해주세요.")}
  else if($('#price option:selected').val()==="가격"){alert("가격을 선택해주세요.")}
  else{
    let retail_price = $('#retail_price').val()
    if(retail_price===''){
      retail_price=0
    }
    let fee_rate = $('#fee_rate').val()
    if(fee_rate===''){
      fee_rate=0
    }
    let sub_title = $('#sub_title').val().replace(/\n/gi, '<br>');

const data = {
  product_code: $('#product_code').val(),
  category_id:  $('#category').val(),
  product_name:  $('#product_name').val(),
  thumbnail : $('#thumbnail').val(),
  image :images,
  brand : $('#brand').val(),
  link : $('#link').val(),
  retail_price :retail_price,
  fee_rate : fee_rate,
  title : $('#title').val(),
  sub_title :sub_title,
  gender : genders,
  age :ages,
  price : $('#price option:selected').val()
}


console.log(data);

 /* fetch("https://gifty4u.com/admin/product", {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({
    product_code: $('#product_code').val(),
    category:  $('#category').val(),
    product_name:  $('#product_name').val(),
    thumbnail : $('#thumbnail').val(),
    image :images,
    brand : $('#brand').val(),
    link : $('#link').val(),
    retail_price :retail_price,
    fee_rate : fee_rate,
    title : $('#title').val(),
    sub_title :sub_title,
    gender : genders,
    age :ages,
    price : $('#price option:selected').val()
  }),
}).then((response) => response.json())
.then((res)=>{
  console.log(res.data)
  if(res.data==='save'){
    alert("제품이 저장되었습니다.")
    window.location.reload();
  }
}).catch((err)=>{
  alert(err.error)
  console.log(err.error)
})*/
  }
}
</script>
</html>
