<%- include ('./nav.ejs') %>

<div id="page" value="<%=value%>" order="<%=order%>" hidden><%=page%></div>

<section class="main-section">
  <div><p class="main-title">배송 관리</p></div>
  <div class="blue-h-line"></div>
  <div class="button-group">
    <table id="select">
      <tr></tr>
      <tr>
        <td>
          <p style="margin: 0 5px">주문일로 검색 :</p>
        </td>
        <td class="manage">
          <input id="start" type="date" name="start" class="form-control" />
        </td>
        <td>
          <p style="margin: 0 5px">~</p>
        </td>
        <td class="manage">
          <input id="end" type="date" name="end" class="form-control" />
        </td>

        <td>
          <button
            type="button"
            class="btn blue-button"
            style="margin-left: 5px; height: 40px"
            id="filter"
          >
            검색
          </button>
        </td>
        <td>
          <div style="margin-left: 30px" id="pagination"></div>
        </td>
      </tr>
    </table>
  </div>

  <div class="table-group">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">No <i class="fas fa-sort" id="id"></i></th>
          <th scope="col">이름 <i class="fas fa-sort" id="name"></i></th>
          <th scope="col">연락처 <i class="fas fa-sort" id="phone"></i></th>
          <th scope="col">주소 <i class="fas fa-sort" id="address"></i></th>
          <th scope="col" style="width: 200px">
            선택 제품 <i class="fas fa-sort" id="product"></i>
          </th>
          <th scope="col">
            배송상태 <i class="fas fa-sort" id="shipment_status"></i>
          </th>
        </tr>
      </thead>
      <tbody id="order_list"></tbody>
    </table>

    <div id="button-group" style="margin-bottom: 10px">
      <button
        class="btn green-button"
        onclick="saveOption()"
        style="float: right; margin: 10px"
      >
        저장하기
      </button>

      <div id="page-container" style="text-align: center"></div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
</section>

<script>
  function saveOption() {
    const changed = [];

    $("select").each(function (index, item) {
      if (item.className.includes("changed"))
        changed.push({
          id: item.id,
          value: item.value?.trim(),
        });
    });

    axios({
      url: "/admin/shipping",
      method: "patch",
      data: {
        changed,
        _csrf: $("#_csrf").val(),
      },
    })
      .then((res) => {
        alert("변경되었습니다.");
        window.location = "/admin/shipping";
      })
      .catch((e) => {
        alert("변경하지 못했습니다.");
        console.log(e.response.data.error);
      });
  }
</script>
<script type="module" src="/javascripts/admin/fillShippingManage.js"></script>
