<div class="container">
  <div class="row">
    <div class="col-3"><%- include ('./nav.ejs') %></div>
    <div class="col-9" style="margin-top: 30px">
      <div>
        <h2>배송 관리</h2>
      </div>
      <div id="content">
        <table id="select">
          <tr></tr>
          <tr>
            <td>
              <p style="margin: 0 5px">주문일로 검색 :</p>
            </td>
            <td class="manage">
              <input id="start" type="date" name="start" class="form-control" />
            </td>
            <td>
              <p style="margin: 0 5px">~</p>
            </td>
            <td class="manage">
              <input id="end" type="date" name="end" class="form-control" />
            </td>

            <td>
              <button
                type="button"
                class="btn btn-primary"
                style="margin-left: 5px; height: 40px"
                id="filter"
              >
                검색
              </button>
            </td>
            <td>
              <div style="margin-left: 30px" id="pagination"></div>
            </td>
          </tr>
        </table>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">성별</th>
              <th scope="col">나이</th>
              <th scope="col">금액</th>
              <th scope="col">연락처</th>
              <th scope="col">주소1</th>
              <th scope="col">주소2</th>
              <th scope="col" style="width: 200px">선택 제품</th>
              <th scope="col">배송상태</th>
            </tr>
          </thead>
          <tbody id="order_list"></tbody>
        </table>

        <div id="button-group" style="text-align: center">
          <button class="btn btn-primary" onclick="saveOption()">
            변경사항 저장
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function saveOption() {
    const changed = [];

    $("select").each(function (index, item) {
      if (item.className.includes("changed"))
        changed.push({
          id: item.id,
          value: item.value?.trim(),
        });
    });

    console.log(changed);

    axios({
      url: "/admin/shipping",
      method: "patch",
      data: {
        changed,
        _csrf: $("#_csrf").val(),
      },
    })
      .then((res) => {
        alert("변경되었습니다.");
        window.location = "/admin/shipping";
      })
      .catch((e) => {
        alert("변경하지 못했습니다.");
        console.log(e);
      });
  }
</script>
<script type="module" src="/javascripts/admin/fillShippingManage.js"></script>
