<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
      Kakao.init("dc3f292c57aba867fd4c53fc230d5f79");
      Kakao.isInitialized();
    </script>
    <!-- jQuery -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.12.4.min.js"
    ></script>
    <!-- iamport.payment.js -->
    <script
      type="text/javascript"
      src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"
    ></script>
  </head>
  <body>
    <h1>Hello Gifty</h1>
    <button onclick="kakao()">kakao login</button>
    <button onclick="naver()">naver login</button>
    <button onclick="pay(100)">결제하기</button>
    <button onclick="pay(150)">위조 결제하기</button>
    <button onclick="location.href='/admin/app'">어드민으로 이동</button>
  </body>
  <script>
    function kakao() {
      location.href = "/login/kakao/test";
    }

    function naver() {
      location.href = "/login/naver/test";
    }

    function pay(amount) {
      var IMP = window.IMP; // 생략 가능

      axios({
        url: "/users/1/orders",
        method: "post",
        headers: {
          "Content-Type": "application/json",
        },
        data: {
          giver_name: "test",
          giver_phone: "test",
          receiver_name: "홍길동",
          receiver_phone: "010-4242-4242",
          gender: "1",
          age: "2",
          price: "1",
        },
      }).then((res) => {
        openIMP(res.data.merchant_uid, amount);
      });
    }

    function openIMP(merchant_uid, amount) {
      IMP.init("<%=process.env.IMP_CODE%>"); // 예: imp00000000
      IMP.request_pay(
        {
          // param
          pg: "html5_inicis",
          pay_method: "card",
          merchant_uid: merchant_uid,
          name: "결제 테스트",
          amount: amount,
          buyer_email: "gildong@gmail.com",
          buyer_name: "홍길동",
          buyer_tel: "010-4242-4242",
          buyer_addr: "서울특별시 강남구 신사동",
          buyer_postcode: "01181",
        },
        function (rsp) {
          console.log(rsp);
          // callback
          if (rsp.success) {
            //order 데이터베이스에 정보 쌓기

            axios({
              url: `<%=process.env.SITE_DOMAIN%>/payment/validation?price=${amount}`, // 예: https://www.myservice.com/payments/complete
              method: "post",
              headers: {
                "Content-Type": "application/json",
              },
              data: {
                imp_uid: rsp.imp_uid,
                merchant_uid: rsp.merchant_uid,
              },
            })
              .then(function (data) {
                // 가맹점 서버 결제 API 성공시 로직
                alert("성공");
              })
              .catch((e) => {
                alert("실패");
              });
          } else {
            alert("실패");
          }
        }
      );
    }
  </script>
</html>
